<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<ahojpay>
				<active>0</active>
				<model>Ahoj\Ahojpay\Model\Payment\Ahojpay</model>
				<order_status>pending</order_status>
				<title>zaplať o 30 dní bez navýšenia</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
                <order_status_processing>processing</order_status_processing>
                <order_status_canceled>canceled</order_status_canceled>
                <order_status_pending>pending_payment</order_status_pending>
			</ahojpay>
            <rozlozto>
                <active>0</active>
                <model>Ahoj\Ahojpay\Model\Payment\Rozlozto</model>
                <order_status>pending</order_status>
                <title>v 3 platbách bez navýšenia</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <order_status_processing>processing</order_status_processing>
                <order_status_canceled>canceled</order_status_canceled>
                <order_status_pending>pending_payment</order_status_pending>
            </rozlozto>
		</payment>
        <csp>
            <mode>
                <storefront>
                    <report_only>1</report_only>
                </storefront>
                <admin>
                    <report_only>1</report_only>
                </admin>
            </mode>
        </csp>
	</default>
</config>
