<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="ahojpay_payments_data_assign" instance="Ahoj\Ahojpay\Observer\DataAssignObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="place_order_after" instance="Ahoj\Ahojpay\Observer\OrderManagement"/>
    </event>
    <event name="payment_method_is_active">
        <observer name="Ahoj_Ahojpay_Method_Is_Active" instance="Ahoj\Ahojpay\Observer\DisablePaymentMethod"/>
    </event>
</config>
